.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

.title svg {
  fill: #42526e;
}

.title h6 {
  margin: 12px 6px;
  color: #939dad;
  font-weight: bold;
  font-size: x-small;
}
