.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

.title svg {
  fill: #42526e;
}

.title h5 {
  margin: 12px 6px;
  color: #42526e;
  font-weight: 600;
}

.paper {
  position: relative;
  height: 4rem;
  width: 8rem;
}

.paper img {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 2px;
  object-fit: cover;
}

.button-modele {
  min-width: 0;
  font-size: 0.45rem;
  font-weight: 500;
  color: #42526e;
  text-transform: capitalize;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2px 6px;
  border-radius: 3px;
  position: absolute;
  top: 6px;
  left: 4px;
}

.paper p {
  margin: 0;
  position: absolute;
  top: 22px;
  left: 4px;
  color: white;
  font-weight: 500;
  font-size: small;
}
